.body-style {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  color: #333;
}

.header-top {
  padding: 50px 20px;
  text-align: center;
  background-image: url("https://freesozai.jp/sozai/nation_flag/ntf_401/ntf_401.png");
  background-position: center;
  /* 国旗の色とフォントカラーが被ってしまうため222％にしました。 */
  background-size: 222%;
  color: #fff
}


.h1-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.p-sub-title {
  font-size: 18px;
  color: #fff;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding: 20px;
  text-align: center;
}

.h2-card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.p-card-text {
  font-size: 14px;
  color: #666;
}



/* データ表セクション */
.table-section {
  width: auto;
  margin: 30px auto;
  max-width: 80%;
  text-align: center;
}

.h2-title {
  margin-bottom: 20px;
}

.table-1 {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}

.thead-row {
  background-color: #0078D4;
  color: #fff;
}

.table-section th,
.table-section td {
  padding: 12px 20px;
  text-align: center;
  border: 1px solid #ddd;
}

.tbody-style tr:hover {
  background-color: #f2f2f2;
}