/* PC 1280px以上 */
@media screen and (min-width: 1280px) {
}

.header-style {
  height: 270px;
  max-width: 950px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  align-items: center;
}

.ul-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.insta-icon {
  width: 20px;
}

.img-london {
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  height: 420px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.h2-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}

.wrapper {
  width: 960px;
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

#about p {
  text-align: justify;
  padding: 0;
}

#about li:first-child {
  margin-bottom: 30px;
}

.ul-about {
  list-style: none;
}

.ul-img {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0;
}

#works img {
  height: 176px;
  width: 271px;
  object-fit: cover;
  display: block;
}

/* スマホ 375px以下 */
@media screen and (max-width: 375px) {

}